<div class="page page-table" data-ng-controller="businessFormCtrl">

  <section class="panel panel-default table-dynamic">

    <div class="panel-heading">
      <strong>
        <span class="glyphicon glyphicon-th"></span> 
        Veículo
      </strong>
    </div>

    <div class="panel-body">
      <div class="col-md-8 col-md-offset-1">
        <form class="form-horizontal ng-pristine ng-valid">
          <div class="form-group">
            <label style="padding-right: 1px" class="col-sm-3 control-label">Veiculo*</label>
            <div class="col-sm-9">
                <input ng-model="business.name" style="text-transform:uppercase" type="text" class="form-control" placeholder="Nome" required>
            </div>
          </div>

          <div class="form-group">
            <label style="padding-right: 1px" class="col-sm-3 control-label">Marca*</label>
            <div class="col-sm-9">
                <input ng-model="business.brand" style="text-transform:uppercase" type="text" class="form-control" placeholder="Nome" required>
            </div>
          </div>

          <div class="form-group">
            <label style="padding-right: 1px" class="col-sm-3 control-label">Placa*</label>
            <div class="col-sm-9">
                <input ng-model="business.plate" style="text-transform:uppercase" type="text" class="form-control" placeholder="Nome" required>
            </div>
          </div>

          <div class="form-group">
            <label style="padding-right: 1px" class="col-sm-3 control-label">Data da compra*</label>
            <div class="col-sm-9">
                <input name="date" ng-model="business.buyDate" type="date" class="form-control" placeholder="Data da compra" required>
            </div>
          </div>

          <div class="form-group">
            <label style="padding-right: 1px" class="col-sm-3 control-label">Valor de compra*</label>
            <div class="col-sm-9">
                <input name='money' ng-model="business.buyPrice" type="text" class="form-control" placeholder="Valor de compra" required>
            </div>
          </div>

          <div class="form-group" ng-repeat="service in business.services">
            <label ng-show="$index === 0" style="padding-right: 1px" class="col-sm-3 control-label">Serviços</label>
            <label  ng-show="$index > 0" style="padding-right: 1px" class="col-sm-3 control-label"></label>
              <div class="col-sm-5">
                <select ngyn-select2 ng-model="service.type" style="width: 100%; border-radius: 0px">
                  <option value="">Selecione...</option>
                  <option value="wash">Lavagem</option>
                  <option value="poliment">Polimento</option>
                  <option value="chapeacao">Chapeação</option>
                  <option value="others">Outros</option>
                </select>
              </div>
              <div class="col-sm-3">
                <input name='money' ng-model="service.price" type="text" class="form-control" placeholder="R$">
              </div>
              <div ng-show="$index === 0" class="col-sm-1" style="padding-left: 0px;">
                <button class="btn btn-primary" style="float: right;" ng-click="addServiceField()">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
              <div ng-show="$index > 0" class="col-sm-1" style="padding-left: 0px;">
                <button class="btn btn-danger" style="float: right;" ng-click="removeServiceField(service)">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" style="padding-right: 1px;">Cliente</label>
            <div id="newClientDiv" class="col-sm-6" style="padding-right: 0;">
              <select ngyn-select2 ng-options="item._id as item.name for item in clients" ng-model="business.client" style="width:100%; border-radius: 0px">
                <option value="">Selecione...</option>
              </select> 
            </div>
            <div class="col-sm-3" style="padding-left: 0;">
              <button class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#myModal2"><i class="fa fa-plus"></i></button>
              <button class="btn btn-danger" style="float: right;margin-right: 10px;" ng-click="removeClient(business.client)"><i class="fa fa-times"></i></button>
              <button class="btn btn-success" style="float: right;margin-right: 10px;" ng-click="editClient(business.client)"><i class="fa fa-pencil"></i></button>
            </div>
          </div>

          <span> Custo Total: R$ <span ng-show="business.totalCost > 0">{{business.totalCost}}</span></span>

        </form>  
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="width: 600px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
            <h4 class="modal-title" id="myModalLabel">Registrar venda</h4>
          </div>
          <div class="modal-body" style="height: 200px;">

            <div class="form-group">
              <label class="col-sm-7 control-label" style="margin-bottom: 20px; text-align: right;">
                Venda com troca? 
              </label>
              <label class="col-sm-5 control-label" style="margin-bottom: 20px;">
                <i ng-show="!exchange" ng-click="scheduleCheckbox()" class="fa fa-square-o" style="font-size: 22px; cursor: pointer"></i>
                <i ng-show="exchange" ng-click="scheduleCheckbox()" class="fa fa-check-square-o" style="font-size: 22px; cursor: pointer"></i>
              </label>  
              <label class="col-sm-3 control-label" style="text-align: right; padding-top: 6px; padding-left: 0;">Valor da venda</label>
              <div class="col-sm-9" style="margin-bottom: 10px">
                <input name='money' ng-model="business.sellPrice" type="text" class="form-control" placeholder="Valor da venda">
              </div>
              <label class="col-sm-3 control-label" style="text-align: right; padding-top: 6px; padding-left: 0;">Data da venda</label>
              <div class="col-sm-9" style="margin-bottom: 10px">
                <input name="date" ng-model="business.sellDate" type="date" class="form-control" placeholder="Data da venda">
              </div>
              <label class="col-sm-3 control-label" style="text-align: right; padding-top: 6px; padding-left: 0;">Cliente</label>
              <div id="newClientDiv" class="col-sm-6" style="padding-right: 0;">
                <select ngyn-select2 ng-options="item._id as item.name for item in clients" ng-model="business.clientToSell" style="width:100%; border-radius: 0px">
                  <option value="">Selecione...</option>
                </select> 
              </div>
              <div class="col-sm-3" style="padding-left: 0;">
                <button class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#myModal2"><i class="fa fa-plus"></i></button>
                <button class="btn btn-danger" style="float: right;margin-right: 5px;" ng-click="removeClient(business.clientToSell)"><i class="fa fa-times"></i></button>
                <button class="btn btn-success" style="float: right;margin-right: 5px;" ng-click="editClient(business.clientToSell)"><i class="fa fa-pencil"></i></button>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary" ng-click="save('sell')">Salvar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->

    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
            <h4 class="modal-title" id="myModalLabel">Novo cliente</h4>
          </div>
          <div class="modal-body" style="height: 180px;">

            <div class="form-group">
              <label class="col-sm-3 control-label" style="text-align: right; padding-top: 6px;">Nome</label>
              <div class="col-sm-8" style="margin-bottom: 5px">
                <input ng-model="newCampaignName" type="text" class="form-control" placeholder="Nome do cliente">
              </div>
              <label class="col-sm-3 control-label" style="text-align: right; padding-top: 6px;">E-mail</label>
              <div class="col-sm-8" style="margin-bottom: 5px">
                <input ng-model="newCampaignEmail" type="text" class="form-control" placeholder="E-mail do cliente">
              </div>
              <label class="col-sm-3 control-label" style="text-align: right; padding-top: 6px;">Telefone</label>
              <div class="col-sm-8" style="margin-bottom: 5px">
                <input ng-model="newCampaignPhone" type="text" class="form-control" placeholder="Telefone do cliente">
              </div>
              <label class="col-sm-3 control-label" style="text-align: right; padding-top: 6px;">Endereço</label>
              <div class="col-sm-8" style="margin-bottom: 5px">
                <input ng-model="newCampaignAddress" type="text" class="form-control" placeholder="Endereço do cliente">
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary" ng-click="modalSave()">Salvar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->

    <div class="row panel-body" style="margin-top: 10px">
      <div class="col-sm-4">
        <p class="m-t" style="clear: both; /* margin-top:40px; */">
        <button data-toggle="modal" data-target="#myModal" type="submit" class="btn btn-sm btn-warning" style="margin-top: 10px;"><i class="fa fa-check"></i> Vender</button>
        <button ng-show="saveBtn" id="save" ng-click="save()" type="submit" class="btn btn-sm btn-success ng-hide" style="margin-top: 10px;"><i class="fa fa-check"></i> Salvar</button>
        <button ng-show="!saveBtn" ng-disabled="true" class="btn btn-sm btn-success" style="margin-top: 10px;" disabled="disabled"><i class="fa fa-check"></i> Salvar &nbsp;<i class="fa fa-spinner fa-spin" style="font-size: 16px;"></i></button>
        <button id="save" type="submit" ui-sref="user.businessList" class="btn btn-xs btn-primary" style="margin-top: 10px;"><i class="fa fa-reply"></i> Voltar</button>
      </p>
      </div>
    </div>

  </section>

</div>