<div class="page page-table" data-ng-controller="businessListCtrl">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
          <strong>
            <span class="glyphicon glyphicon-th"></span> 
            Veículos
          </strong>
          <button ui-sref="user.businessForm" class="btn btn-sm btn-success" style="float:right;margin-top: -5px;padding-top: -14px;"><i class="fa fa-plus"></i> Adicionar</button>
        </div>

        <div class="table-filters">
          <div class="row">
            <div class="col-sm-4 col-xs-6">
              <form>
                <input type="text" placeholder="Search..." class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()">
              </form>
            </div>
            <div class="col-sm-3 col-xs-6 filter-result-info">
              <span>
                <!-- Mostrando {{filteredStores.length}}/{{business.length}} itens -->
              </span>              
            </div>
          </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
          <thead>
            <tr>
              <th>
                <div class="th">
                  Marca
                  <span class="fa fa-angle-up" data-ng-click=" order('brand') " data-ng-class="{active: row == 'brand'}"></span>
                  <span class="fa fa-angle-down" data-ng-click=" order('-brand') " data-ng-class="{active: row == '-brand'}"></span>
                </div>
              </th>
              <th>
                <div class="th">
                  Nome
                  <span class="fa fa-angle-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                  <span class="fa fa-angle-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span>
                </div>
              </th>
              <th width="8%">
                <div class="th">
                  Placa
                </div>
              </th>
              <th width="16%">
                <div class="th">
                  Tempo em estoque
                  <span class="fa fa-angle-up" data-ng-click=" order('timeInStock') " data-ng-class="{active: row == 'timeInStock'}"></span>
                  <span class="fa fa-angle-down" data-ng-click=" order('-timeInStock') " data-ng-class="{active: row == '-timeInStock'}"></span>
                </div>
              </th>
              <th width="9%"></th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="item in itens">
              <td style="vertical-align: middle; text-transform:uppercase"><h5>{{item.brand}}</h5></td>
              <td style="vertical-align: middle; text-transform:uppercase"><h5>{{item.name}}</h5></td>
              <td style="vertical-align: middle; text-transform:uppercase"><h5>{{item.plate}}</h5></td>
              <td style="vertical-align: middle"><h5>{{item.timeInStock}} dias</h5></td>
              <td style="font-size: 20px; text-align: center; cursor: pointer; vertical-align: middle !important;"> 
                <a class="icon-column" ng-click="itemToSell(item)" data-toggle="modal" data-target="#myModal" style="color: green"> <i class="fa fa-usd"></i></a>
                <a class="icon-column" ui-sref="user.businessForm.edit({id: item._id})" style="padding-left: 5px"> <i class="fa fa-pencil"></i></a>
                <a class="icon-column" ng-click="remove(item)" style="color: red; padding-left: 5px;"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" style="width: 600px;">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="myModalLabel">Registrar venda</h4>
              </div>
              <div class="modal-body" style="height: 200px;">

                <div class="form-group">
                  <label class="col-sm-7 control-label" style="margin-bottom: 20px; text-align: right;">
                    Venda com troca? 
                  </label>
                  <label class="col-sm-5 control-label" style="margin-bottom: 20px;">
                    <i ng-show="!exchange" ng-click="scheduleCheckbox()" class="fa fa-square-o" style="font-size: 22px; cursor: pointer"></i>
                    <i ng-show="exchange" ng-click="scheduleCheckbox()" class="fa fa-check-square-o" style="font-size: 22px; cursor: pointer"></i>
                  </label>
                  <label class="col-sm-3 control-label" style="text-align: right; padding-top: 6px; padding-left: 0;">Valor da venda</label>
                  <div class="col-sm-9" style="margin-bottom: 10px">
                    <input name='money' ng-model="businessToSave.sellPrice" type="text" class="form-control" placeholder="Valor da venda">
                  </div>
                  <label class="col-sm-3 control-label" style="text-align: right; padding-top: 6px; padding-left: 0;">Data da venda</label>
                  <div class="col-sm-9" style="margin-bottom: 10px">
                    <input name="date" ng-model="businessToSave.sellDate" type="date" class="form-control" placeholder="Data da venda">
                  </div>
                  <label class="col-sm-3 control-label" style="text-align: right; padding-top: 6px; padding-left: 0;">Cliente</label>
                  <div id="newClientDiv" class="col-sm-6" style="padding-right: 0;">
                    <select ngyn-select2 ng-options="item._id as item.name for item in clients" ng-model="businessToSave.clientToSell" style="width:100%; border-radius: 0px">
                      <option value="">Selecione...</option>
                    </select> 
                  </div>
                  <div class="col-sm-3" style="padding-left: 0;">
                    <button class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#myModal2"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-danger" style="float: right;margin-right: 5px;" ng-click="removeClient(businessToSave.clientToSell)"><i class="fa fa-times"></i></button>
                    <button class="btn btn-success" style="float: right;margin-right: 5px;" ng-click="editClient(businessToSave.clientToSell)"><i class="fa fa-pencil"></i></button>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" ng-click="sell()">Salvar</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->

        <!-- Modal -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                <h4 class="modal-title" id="myModalLabel">Novo cliente</h4>
              </div>
              <div class="modal-body" style="height: 180px;">

                <div class="form-group">
                  <label class="col-sm-3 control-label" style="text-align: right; padding-top: 6px;">Nome</label>
                  <div class="col-sm-8" style="margin-bottom: 5px">
                    <input ng-model="newCampaignName" type="text" class="form-control" placeholder="Nome do cliente">
                  </div>
                  <label class="col-sm-3 control-label" style="text-align: right; padding-top: 6px;">E-mail</label>
                  <div class="col-sm-8" style="margin-bottom: 5px">
                    <input ng-model="newCampaignEmail" type="text" class="form-control" placeholder="E-mail do cliente">
                  </div>
                  <label class="col-sm-3 control-label" style="text-align: right; padding-top: 6px;">Telefone</label>
                  <div class="col-sm-8" style="margin-bottom: 5px">
                    <input ng-model="newCampaignPhone" type="text" class="form-control" placeholder="Telefone do cliente">
                  </div>
                  <label class="col-sm-3 control-label" style="text-align: right; padding-top: 6px;">Endereço</label>
                  <div class="col-sm-8" style="margin-bottom: 5px">
                    <input ng-model="newCampaignAddress" type="text" class="form-control" placeholder="Endereço do cliente">
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" ng-click="modalSave()">Salvar</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->

        <footer class="table-footer">
          <div class="row">
            <div class="col-md-6 page-num-info">
              <!-- <span>
                Mostrar 
                <select data-ng-model="numPerPage" data-ng-options="num for num in numPerPageOpt" data-ng-change="onNumPerPageChange()"></select> 
                por pagina
              </span> -->
            </div>
            <div class="col-md-6 text-right pagination-container">
              <pagination class="pagination-sm" ng-model="currentPage" total-items="filteredStores.length" max-size="4" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></pagination>
            </div>
          </div>
        </footer>
    </section>

</div>