<div class="page page-table" data-ng-controller="publisherListCtrl">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
          <strong>
            <span class="glyphicon glyphicon-th"></span> 
            Usuários
          </strong>
          <button ui-sref="user.publisherForm" class="btn btn-sm btn-success" style="float:right;margin-top: -5px;padding-top: -14px;"><i class="fa fa-plus"></i> Adicionar</button>
        </div>

        <div class="table-filters">
          <div class="row">
            <div class="col-sm-4 col-xs-6">
              <form>
                <input type="text" placeholder="Search..." class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()">
              </form>
            </div>
            <div class="col-sm-3 col-xs-6 filter-result-info">
              <span>
                <!-- Mostrando {{filteredStores.length}}/{{publisher.length}} itens -->
              </span>              
            </div>
          </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
          <thead>
            <tr>
              <th width="35%">
                <div class="th">
                  Nome
                  <span class="fa fa-angle-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                  <span class="fa fa-angle-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span>
                </div>
              </th>
              <th width="35%">
                <div class="th">
                  Email
                  <span class="fa fa-angle-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                  <span class="fa fa-angle-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span>
                </div>
              </th>
              <th width="8%"></th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="item in itens">
              <td style="vertical-align: middle"><h5>{{item.name}}</h5></td>
              <td style="vertical-align: middle"><h5>{{item.email}}</h5></td>
              <td style="font-size: 20px; text-align: center; cursor: pointer; vertical-align: middle !important;"> 
                <a class="icon-column" ui-sref="user.publisherForm.edit({id: item._id})"> <i class="fa fa-pencil"></i></a>
                <a class="icon-column" ng-click="remove(item)" style="color: red; padding-left: 5px;"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
          </tbody>
        </table>

        <footer class="table-footer">
          <div class="row">
            <div class="col-md-6 page-num-info">
              <!-- <span>
                Mostrar 
                <select data-ng-model="numPerPage" data-ng-options="num for num in numPerPageOpt" data-ng-change="onNumPerPageChange()"></select> 
                por pagina
              </span> -->
            </div>
            <div class="col-md-6 text-right pagination-container">
              <pagination class="pagination-sm" ng-model="currentPage" total-items="filteredStores.length" max-size="4" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></pagination>
            </div>
          </div>
        </footer>
    </section>

</div>