<div class="page page-table" data-ng-controller="publisherFormCtrl">

  <section class="panel panel-default table-dynamic">

    <div class="panel-heading">
      <strong>
        <span class="glyphicon glyphicon-th"></span> 
        Usuário
      </strong>
    </div>

    <div class="panel-body">
      <div class="col-md-8 col-md-offset-1">
        <form class="form-horizontal ng-pristine ng-valid">
          <div class="form-group">
            <label class="col-sm-3 control-label">Nome</label>
            <div class="col-sm-9">
              <input ng-model="publisher.name" type="text" class="form-control" placeholder="Nome">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">E-mail</label>
            <div class="col-sm-9">
              <input ng-model="publisher.email" type="email" class="form-control" placeholder="E-mail">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Senha</label>
            <div class="col-sm-9">
              <input ng-model="password" type="password" class="form-control" placeholder="Senha">
            </div>
          </div>
          
          <div class="form-group">
            <label style="padding-right: 1px" class="col-sm-3 control-label">Admin?</label>
            <label class="col-sm-5 control-label" style="margin-bottom: 20px; text-align: left;">
              <i ng-show="!publisher.isAdmin" ng-click="adminCheckbox()" class="fa fa-square-o" style="font-size: 22px; cursor: pointer"></i>
              <i ng-show="publisher.isAdmin" ng-click="adminCheckbox()" class="fa fa-check-square-o" style="font-size: 22px; cursor: pointer"></i>
            </label>
          </div>
        </form>  
      </div>
    </div>

    <div class="row panel-body" style="margin-top: 10px">
      <div class="col-sm-4">
        <p class="m-t" style="clear: both; /* margin-top:40px; */">
        <button ng-show="saveBtn" id="save" ng-click="save()" type="submit" class="btn btn-sm btn-success ng-hide" style="margin-top: 10px;"><i class="fa fa-check"></i> Salvar</button>
        <button ng-show="!saveBtn" ng-disabled="true" class="btn btn-sm btn-success" style="margin-top: 10px;" disabled="disabled"><i class="fa fa-check"></i> Salvar &nbsp;<i class="fa fa-spinner fa-spin" style="font-size: 16px;"></i></button>
        <button id="save" type="submit" ui-sref="user.publisherList" class="btn btn-xs btn-primary" style="margin-top: 10px;"><i class="fa fa-reply"></i> Voltar</button>
      </p>
      </div>
      <div class="col-sm-8">
        <div id="spinner" class="has-spinner active ng-hide" ng-show="showImageSpinner">
          <span class="spinner">
            <p><i class="fa fa-spinner fa-spin" style="font-size: 50px; margin-left: 16%;"></i></p>
            <p style="font-size: 15px;">Salvando e fazendo upload de imagens...</p>
          </span>
        </div>
      </div>
    </div>

  </section>

</div>