<div class="page page-table" data-ng-controller="sellReportListCtrl">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading">
          <strong>
            <span class="glyphicon glyphicon-th"></span> 
            Relatório de Vendas
          </strong>
        </div>

        <div class="table-filters">
          <div class="row">
            <div class="col-sm-4 col-xs-6">
              <!-- <form>
                <input type="text" placeholder="Search..." class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()">
              </form> -->
            </div>
            <div class="col-sm-3 col-xs-6 filter-result-info">
              <span>
                <!-- Mostrando {{filteredStores.length}}/{{sellReport.length}} itens -->
              </span>              
            </div>
            <div class="col-xs-2" style="padding-left:0px; padding-right:0px; width: 13.666667%">
              <p class="input-group">
              <input id='date1' type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="opened1" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
              <span class="input-group-btn">
                <button style="height: 34px;" type="button" class="btn btn-default" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              </p>   
            </div>
            <div class="col-xs-1" style="padding-top: 6px; width: 4.8%">
              <label>até</label>
            </div>
            <div class="col-xs-2" style="padding-left:0px;width: 15%;">
              <p class="input-group">
              <input id='date2' type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="opened2" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
              <span class="input-group-btn">
                <button style="height: 34px;" type="button" class="btn btn-default" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              </p>   
            </div>
          </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
          <thead>
            <tr>
              <th>
                <div class="th">
                  Veículo
                  <!-- <span class="fa fa-angle-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                  <span class="fa fa-angle-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span> -->
                </div>
              </th>
              <th>
                <div class="th">
                  Compra
                  <!-- <span class="fa fa-angle-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                  <span class="fa fa-angle-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span> -->
                </div>
              </th>
              <th>
                <div class="th">
                  Serviços
                  <!-- <span class="fa fa-angle-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                  <span class="fa fa-angle-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span> -->
                </div>
              </th>
              <th>
                <div class="th">
                  Venda
                  <!-- <span class="fa fa-angle-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                  <span class="fa fa-angle-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span> -->
                </div>
              </th>
              <th width="15%">
                <div class="th">
                  Lucro
                  <!-- <span class="fa fa-angle-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                  <span class="fa fa-angle-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span> -->
                </div>
              </th>
              <th width="15%">
                <div class="th">
                  Tempo
                  <!-- <span class="fa fa-angle-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                  <span class="fa fa-angle-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span> -->
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="item in itens">
              <td style="vertical-align: middle; text-transform:uppercase"><h5>{{item.name}}</h5></td>
              <td style="vertical-align: middle"><h5>R$ {{item.buyPrice}}</h5></td>
              <td style="vertical-align: middle"><h5>R$ {{item.servicesCost}}</h5></td>
              <td style="vertical-align: middle"><h5>R$ {{item.sellPrice}}</h5></td>
              <td style="vertical-align: middle"><h5>R$ {{item.sellPrice - item.totalCost}}</h5></td>
              <td style="vertical-align: middle"><h5>{{item.timeInStock}} dias</h5></td>
            </tr>
          </tbody>
        </table>

        <footer class="table-footer">
          <div class="row">
            <div class="col-md-6 page-num-info">
              <!-- <span>
                Mostrar 
                <select data-ng-model="numPerPage" data-ng-options="num for num in numPerPageOpt" data-ng-change="onNumPerPageChange()"></select> 
                por pagina
              </span> -->
            </div>
            <div class="col-md-6 text-right pagination-container">
              <pagination class="pagination-sm" ng-model="currentPage" total-items="filteredStores.length" max-size="4" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links="true"></pagination>
            </div>
          </div>
        </footer>
    </section>

</div>