<div class="page-signin" ng-controller="authCtrl">

  <div class="signin-header" style="margin-top: 8%">
    <section class="logo text-center">
      <h1><a href="#/">Emporio</a></h1>
    </section>
  </div>

  <div class="signin-body">
    <div class="container">
      <div class="form-container">

        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <div class="input-group input-group-first">
                <span class="input-group-addon">
                    <span class="ti-email"></span>
                </span>
                <input type="email" class="form-control input-lg" ng-model="username" placeholder="Nome de Usuário">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="ti-lock"></span>
                </span>
                <input type="password" ng-model="password" class="form-control input-lg" placeholder="Senha">
              </div>
            </div>

            <div class="divider divider-xl"></div>
            <div class="form-group" style="margin: auto; width: 180px;">
              <button ng-show="!spin" type="submit" style="margin-top: 5px;" class="btn btn-success btn-lg btn-block text-center" ng-click="login()">Entrar</button>
              <button disabled ng-show="spin" type="submit" class="btn btn-success btn-lg btn-block text-center" ng-click="login()"><i class="fa fa-spinner fa-spin"></i> Entrando</button>
            </div>
          </fieldset>
        </form>

        <!-- <div class="divider"></div>
        <section class="additional-info">
          <p class="text-right">
            <a href="#/pages/forgot-password">Forgot your password?</a>
            <span> | </span>
            <a href="#/pages/signup">Sign up</a>
          </p>
        </section> -->
        
      </div>
    </div>
  </div>
</div>