<div class="page page-table" data-ng-controller="clientFormCtrl">

  <section class="panel panel-default table-dynamic">

    <div class="panel-heading">
      <strong>
        <span class="glyphicon glyphicon-th"></span> 
        Veículo
      </strong>
    </div>

    <div class="panel-body">
      <div class="col-md-8 col-md-offset-1">
        <form class="form-horizontal ng-pristine ng-valid">
          <div class="form-group">
            <label style="padding-right: 1px" class="col-sm-3 control-label">Nome*</label>
            <div class="col-sm-9">
                <input ng-model="client.name" type="text" class="form-control" placeholder="Nome" required>
            </div>
          </div>

          <div class="form-group">
            <label style="padding-right: 1px" class="col-sm-3 control-label">E-mail*</label>
            <div class="col-sm-9">
                <input ng-model="client.email" type="text" class="form-control" placeholder="E-mail" required>
            </div>
          </div>

          <div class="form-group">
            <label style="padding-right: 1px" class="col-sm-3 control-label">Telefone*</label>
            <div class="col-sm-9">
                <input ng-model="client.phone" type="text" class="form-control" placeholder="Telefone" required>
            </div>
          </div>

          <div class="form-group">
            <label style="padding-right: 1px" class="col-sm-3 control-label">Endereço*</label>
            <div class="col-sm-9">
                <input ng-model="client.address" type="text" class="form-control" placeholder="Endereço" required>
            </div>
          </div>

          <div class="form-group">
            <label style="padding-right: 1px" class="col-sm-3 control-label">CPF*</label>
            <div class="col-sm-9">
                <input ng-model="client.cpf" type="text" class="form-control" placeholder="Endereço" required>
            </div>
          </div>

          <div class="form-group">
            <label style="padding-right: 1px" class="col-sm-3 control-label">RG*</label>
            <div class="col-sm-9">
                <input ng-model="client.rg" type="text" class="form-control" placeholder="Endereço" required>
            </div>
          </div>

          <div class="form-group">
            <label style="padding-right: 1px" class="col-sm-3 control-label">RG*</label>
            <div class="col-sm-9">
                <input ng-model="client.rg" type="text" class="form-control" placeholder="Endereço" required>
            </div>
          </div>

        </form>  
      </div>
    </div>

    <div class="row panel-body" style="margin-top: 10px">
      <div class="col-sm-4">
        <p class="m-t" style="clear: both; /* margin-top:40px; */">
        <button ng-show="saveBtn" id="save" ng-click="save()" type="submit" class="btn btn-sm btn-success ng-hide" style="margin-top: 10px;"><i class="fa fa-check"></i> Salvar</button>
        <button ng-show="!saveBtn" ng-disabled="true" class="btn btn-sm btn-success" style="margin-top: 10px;" disabled="disabled"><i class="fa fa-check"></i> Salvar &nbsp;<i class="fa fa-spinner fa-spin" style="font-size: 16px;"></i></button>
        <button id="save" type="submit" ui-sref="user.clientList" class="btn btn-xs btn-primary" style="margin-top: 10px;"><i class="fa fa-reply"></i> Voltar</button>
      </p>
      </div>
    </div>

  </section>

</div>