<aside data-ng-include=" 'views/sidebar.html' " style="background-color: #4c4d4a" id="nav-container" class="nav-container" data-ng-class="{ 'nav-fixed': admin.fixedSidebar, 'nav-horizontal': admin.menu === 'horizontal', 'nav-vertical': admin.menu === 'vertical', 'bg-white': ['31','32','33','34','35','36'].indexOf(admin.skin) >= 0, 'bg-dark': ['31','32','33','34','35','36'].indexOf(admin.skin) < 0}">
</aside>

<div ui-view id="content" class="content-container">
  <img src="logo_emporio.jpg" width="50%" style="margin: 20% 25%">
    <!-- <section data-ng-view class="view-container {{admin.pageTransition.class}}"></section> -->
    <!-- <div data-ng-include=" 'views/signin.html' "></div> -->
</div>

<footer data-ng-include=" 'views/footer.html' " id="footer" class="app-footer"></footer>