<div class="nav-wrapper">
    <ul id="nav" class="nav" data-slim-scroll data-collapse-nav data-highlight-active>
        <li class="nav-title" style="text-align: center;">
            <span style="color: lightgray">Menu</span>
        </li>
        <li id="businessListLi" style="display: none;">
            <a ui-sref="user.businessList"> <i class="ti-home"></i><span>Veículos</span> </a>
        </li>
        <li id="clientListLi" style="display: none;">
            <a ui-sref="user.clientList"><i class="ti-files"></i><span>Clientes</span></a>
        </li>
        <li id="publisherListLi" style="display: none;">
            <a ui-sref="user.publisherList"><i class="ti-bag"></i><span>Usuários</span></a>
        </li>
        <li id="sellReportListLi" style="display: none;">
            <a ui-sref="user.sellReportList"><i class="ti-files"></i><span>Relatório de Vendas</span></a>
        </li>
        <li id="financialReportLi" style="display: none;">
            <a ui-sref="user.financialReport"><i class="ti-files"></i><span>Relatório Financeiro</span></a>
        </li>
    </ul>
</div>